{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>ABOUT</h1>
    <p style="justify-content: left;">
        Welcome to Xpert Scan, a state-of-the-art platform that harnesses AI technology to enhance the field of radiology through automated X-ray image analysis. Designed for healthcare professionals, Xpert Scan provides real-time insights and precision diagnostics, offering immediate feedback that integrates seamlessly into clinical workflows. Our platform combines automated image analysis, explainable AI tools like Grad-CAM and LIME for transparent decision-making, and real-time result delivery to streamline the diagnostic process, reduce radiologists' workload, and improve accuracy in medical interpretation.
<br>
        Xpert Scan also includes advanced features like detailed report generation for easy sharing with patients and other professionals. By merging cutting-edge machine learning with the invaluable expertise of medical professionals, we aim to make diagnostic work more efficient and patient-centered, transforming radiology for a brighter, tech-empowered future in healthcare.
</p>
</div>
{% endblock %}
